
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("Index", "VendingMachine", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div>
        <input type="submit" name="btnSubmit" value="Refill" class="btn btn-default" />
        <input type="submit" name="btnSubmit" value="ViewProducts" class="btn btn-default" />
        <input type="submit" name="btnSubmit" value="SaleRecords" class="btn btn-default" />
        <input type="submit" name="btnSubmit" value="PaymentRecords" class="btn btn-default" />
        <input type="submit" name="btnSubmit" value="VendingMachineDetails" class="btn btn-default" />
        <br />
        <br />
    </div>
    <div>
        <div>
            <label>Product ID</label>
            <input type="text" name="productID" />
            <label>Product Amount</label>
            <input type="text" name="amount" />
        </div>
        <div>
            <label>Payment Method (1 : Card Payment, 2 : Cash Payment)</label>
            <input type="text" name="paymentMethod" placeholder="enter 1 or 2 " />
        </div>
        <div>
            <input type="submit" name="btnSubmit" value="PurchaseProduct" class="btn btn-default" />
        </div>
    </div>
}
<br />
<div style="color:green">
    @if (ViewBag.Result != null)
    {
        <p style="white-space: pre-line">@ViewBag.Result</p>
    }
</div>

